@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: var(--color-neutral-100);
  --primary: var(--color-neutral-200);
  --forground: var(--color-neutral-800);
  --muted-forground: var(--color-neutral-500);
  --secondary: var(--color-neutral-500);
}

.dark {
  --background: var(--color-neutral-800);
  --primary: var(--color-neutral-900);
  --forground: var(--color-neutral-300);
  --muted-forground: var(--color-neutral-500);
  --secondary: var(--color-neutral-500);
}
 
@theme inline {
  --shadow-custom:
     0px 2px 3px -1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.05),
    0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  
  --shadow-custom-dark:
    0px 2px 3px -1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.05),
    0px 0px 0px 1px rgba(255, 255, 255, 0.1);

  --shadow-sectionInset:
  0px 1px 4px 0px var(--color-neutral-300) inset,
  0px -1px 4px 0px var(--color-neutral-300) inset;
  
  --shadow-sectionInset-dark:
    0px 1px 4px 0px var(--color-neutral-800) inset,
    0px -1px 4px 0px var(--color-neutral-800) inset;

  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-forground: var(--forground);
  --color-muted-forground: var(--muted-forground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
